body{
    background-image:  url('./images/churrasco.jpg');
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: auto; /*centralizar*/
    background-color:rgb(165, 86, 86);
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(49, 48, 48);
}

h1{
    margin-top: 0;    
}

#titulo{
    text-align: center;
    color: rgb(29, 24, 24);
}

.miniContainer{
    text-align: center;
    font-weight: 600; 
    margin: 20px;
   
}

ul{
    text-align: center;
}

li{
    list-style: none;
}

.labels{
    display: block;
    margin: 5px;
}

.qtdPessoas{
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    
}

h2{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

.options{
    margin-bottom: 5px;

}

#botao{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 600;
    border-radius: 3.5px;
    border-color: rgb(49, 48, 48);
    color: rgb(49, 48, 48);
}